{% block footer %}
{% load static %}
<div class="footer-sv">
    <div class="footer-hotline">
        <div class="footer-hotline--item">
            <p class="mb-2 border-bottom border-primary">HOTLINE TƯ VẤN 24/7</p>
            <a href="tel:0933381675"> 0933381675 - 02389292525</a>
        </div>
        <div class="footer-hotline--item">
            <p class="mb-2 border-bottom border-primary">GỬI EMAIL TƯ VẤN</p>
            <a href="mailto: nhakhoasv@gmail.com">nhakhoasv@gmail.com</a>
        </div>
    </div>
    <div class="footer-main">
        <div class="footer-main--logo content-color">
            <div class="footer-title--main border-bottom border-primary">
                <h5>KẾT NỐI VỚI SV DENTAL</h5>
            </div>
            <div class="footer-main--icon">
                <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                    <img class="footer-main--icon__image"
                        src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658765286/icon/fac_d9zwia.png" />
                </a>
                <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                    <img class="footer-main--icon__image"
                        src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658765301/icon/zalo_2_y7kewt.png" />
                </a>
                <a target="_blank" href="https://www.facebook.com/SV-Dental-100455209371404">
                    <img class="footer-main--icon__image"
                        src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658765285/icon/yt_npz6ge.png" />
                </a>
            </div>
            <div class="footer-title--main border-bottom border-primary">
                <h5>ĐỐI TÁC THANH TOÁN</h5>
            </div>
            <div class="footer-main--icon">

                <img class="footer-main--icon__bank"
                    src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658224105/carousel/teck-logo_hjdbns.png" />
                <img class="footer-main--icon__bank"
                    src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658224105/carousel/bidv-logo_gmusws.jpg" />

            </div>
        </div>
        <div class="footer-main--address content-color mt-3">
            <h4 class="footer-title--main border-bottom border-primary">NHA KHOA SV</h4>
            <p><img class="footer-info__img"
                    src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658818531/icon/pin_nlssbe.png"><strong>Địa
                    chỉ:</strong>
                99 Cao Thắng,Phường 03, Quận 3, TP. Hồ Chí Minh</p>
            <p><img class="footer-info__img"
                    src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658819061/icon/Picture2_penmsd.png"><strong>Hotline:</strong>
                0933381675 - 02389292525</p>

            <div class="row">
                <div class="col-4">
                    <img class="footer-info__img "
                        src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658818534/icon/time_bgrtwn.png">
                    <strong class="col-2">Giờ làm việc: </strong>
                </div>
                <div class="col-8">
                    <ul class="contact-time">
                        <li>Thứ 2-Thứ 6: 8h00 – 20h00</li>
                        <li>Thứ 7: 8h00 – 18h00</li>
                        <li>Chủ Nhật: 8h00 – 12h00</li>
                    </ul>
                </div>
            
            </div>
        </div>
        <div class="footer-main--info content-color">
            <h4 class="footer-title--main border-bottom border-primary">Thông tin cần biết</h4>
            <ul class="footer-main--list">
                <li><i class="bi bi-chevron-right"></i><a>Giới Thiệu</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Trồng răng Implant</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Bọc răng sứ</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Dịch vụ khác</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Kiến thức nha khoa</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Bảng giá ưu đãi</a></li>
                <li><i class="bi bi-chevron-right"></i><a>Khách hàng</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- EndFooter -->
{% endblock %}