{%load static%}

<div class="service">
  <div class="service-main">
    <div class="service-des">
      <h4 class="title-tag">DỊCH VỤ NỔI BẬT TẠI</h4>
      <img
        class="service-logo"
        alt="main logo"
        src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658055279/carousel/LOGOhd_ygbntw.png"
      />
      <div class="service-des__item">
        <p
          class="p-3"
          style="
            color: #fff;
            text-align: justify;
            line-height: 1.7;
            font-weight: 400;
          "
        >
          &emsp;Phòng khám Nha khoa SV - SV Dental ngay từ những ngày đầu thành
          lập vẫn luôn không ngừng trao dồi và nâng cao chất lượng dịch vụ, đem
          đến cho khách hàng sự hài lòng tối đa dịch vụ và chất lượng. Kèm theo
          đó mục tiêu và định hướng to lớn là mang lại những giải pháp nha khoa
          tốt nhất, bảo vệ sức khỏe cũng như tự tin và hạnh phúc trong cuộc
          sống.
        </p>
      </div>
    </div>
    <div class="service-img d-flex pt-3">
      <div class="service-item">
        <img
          class="service-item--image"
          src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658220430/rvcontent/trong-rang-implant_qndqjw.jpg"
          alt=""
        />
        <p class="service-item--title">TRỒNG RĂNG IMPLANT</p>
      </div>
      <div class="service-item">
        <img
          class="service-item--image"
          src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658219756/rvcontent/boc-rang-su_hhmd42.png"
          alt=""
        />
        <p class="service-item--title">BỌC RĂNG SỨ</p>
      </div>
      <div class="service-item">
        <img
          class="service-item--image"
          src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658220079/rvcontent/nieng-rang_fjrjlp.jpg"
          alt=""
        />
        <p class="service-item--title">NIỀNG RĂNG THẨM MỸ</p>
      </div>
      <div class="service-item">
        <img
          class="service-item--image"
          src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658220428/rvcontent/cac-phuong-phap-dieu-tri-nha-khoa-khong-can-lay-tuy-1_wuiobm.png"
          alt=""
        />
        <p class="service-item--title">CÁC PHƯƠNG PHÁP ĐIỀU TRỊ</p>
      </div>
    </div>
  </div>
</div>
