.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-address {
  height: 500px;
  font-size: 18px;
  text-align: left;
  color: #2e2b2b;
  line-height: 1.5;
  border: 4px solid #18afd3;
  background-color: #FFFF00;
  background-color: #EEC900;
}

.contact-address > p > strong {
  color: #333;
  font-size: 20px;
}

.contact-address > p > i {
  font-size: 25px;
  color: #006098;
  margin: 7px;
}

.contact-time {
  list-style: none;
}

.contact-time > li {
  line-height: 1.5;
}

.contact-img {
  height: 505px;
}

.contact-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
