@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

a:hover {
  color: #0a0a0a !important;
}

.wrapper-content {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 1000px; /* 2 */

  padding: 40px 10px;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 1180px; /* 2 */

  padding: 40px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tab {
  tab-size: 4;
}

.title-tag-header {
  font-size: 27px;
  color: #005b9c;
  font-weight: 700;
  padding: 20px 5px;
  text-transform: uppercase;
}

.title-border-bottom {
  position: relative;
}

.title-border-bottom:before {
  content: "";
  background: #ffb510 !important;
  width: 50%;
  height: 3px;
  bottom: 0px;
  left: 0;
  position: absolute;
  display: block;
}
/* INTRO */
.info {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: fit-content;
}

.info-item {
  height: 30px;
  margin: 0 10px;
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  padding: 0 25px;
  border-radius: 25px;
}

.info-item > p {
  margin: 0;
  height: 100%;
  line-height: 30px;
  color: #8a441e;
}

.content-color * {
  color: #0d6799;
}

.filter-img__item {
  max-width: 300px;
}

.text-center {
  font-size: 22px;
  font-weight: 700;
}

/* REVIEWS */
.flickity-page-dots {
  display: none;
}

.card-post_relevant {
  width: 30% !important;
}

/* CARD */

.card {
  width: 23.3%;
  margin: 5px 10px;
  overflow: hidden;
  border-radius: 10px;
  min-height: 550px;
}

.card-title {
  color: #0d6799;
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: justify;
}

.title-tag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #025899;
  text-align: center;
  margin: 10px 0;
  position: relative;
}

.card-link {
  color: #333;
}

.card-post--content {
  line-height: 1.5;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
}

.card-title:hover,
.btn-more:hover {
  color: #8a441e !important;
}

.card-text {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  color: #0a0a0a;
}

.card-body {
  font-size: 14px;
  position: relative;
}

.card-body > a {
  color: #0a0a0a;
}

.card-text,
.card-text > * {
  color: #000;
}

.btn-more {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: #4aa3df !important;
  font-size: 17px;
  font-weight: 600;
  background-color: #fff;
  padding: 5px 10px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.carousel-item--image {
  max-width: 100%;
  height: 500px;
}

.carousel {
  width: auto;

}

.category-item > li {
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 16px;
  border-bottom: 1px solid #d2d2d2;
  text-transform: uppercase;
}

.title-tag__content {
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: #337ab7;
  border-radius: 12px 12px 0 0;
  padding: 10px 0;
  margin: 0;
}

.breadcrumb {
  background: #e7e7e7;
  padding: 7px 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.breadcrumb-item > a {
  color: #005b9c !important;
  font-size: 14px;
}

.content-main {
  display: flex;
  justify-content: center;
}

.category {
  display: block;
  width: 330px;
  height: fit-content;
}

.category-item {
  list-style: none;
}

.facebook__page {
  width: 100%;
  height: 250px;
}

/* HEADER */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: fit-content;
  background-color: #fff;
  z-index: 3;
  color: #8a441e;
  padding-top: 5px;
  box-shadow: 0 2px 2px -2px gray;
  font-weight: 600;
}

.header-menu-item:hover > .header-menu--sub {
  display: block !important;
  visibility: visible;
  opacity: 1;
}

.header-menu--sub {
  border: 0.5px solid lightgrey;
  display: none;
  position: absolute;
  left: 0;
  top: 34px;
  width: 350px;
  background-color: #fff;
  transition: opacity 3s ease-out;
  opacity: 0;
  list-style: none;
  padding: 0;
  z-index: 10;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-menu--sub > li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  text-decoration: none;
}

.header-menu--sub > li:focus,
.header-menu--sub > li:hover {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  border-radius: 5px;
}

.header-menu--sub > li a {
  text-decoration: none;
}

.icon-customize {
  font-size: 14px;
  margin: 2px 7px 2px 0px;
}

.header-logo--sv {
  width: 200px;
  height: 80px;
}

.header-menu {
  height: 100%;
}

.header-menu-ul {
  height: fit-content;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

.header-menu-item {
  cursor: pointer;
  padding: 5px 8px;
  position: relative;
  transition: visibility 0s, opacity 0.5s linear;
}

.header-menu-item > li {
  color: #8a441e;
  font-size: 15px;
}

.header-menu-item a {
  color: #8a441e !important;
}

.header-menu-item:hover {
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
}

.header-menu-icon {
  display: none;
}

.header-menu-box {
  width: 100%;
  height: 100%;
}


/* FOOTER */

.footer-sv {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #0a6ebd;
}

.footer-hotline {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.footer-hotline--item {
  display: flex;
  flex-direction: column;
}

.footer-hotline--item > a,
.footer-hotline--item > p {
  font-weight: 700;
  text-align: center;
  color: #025899 !important;
}

.footer-main {
  background: url("https://res.cloudinary.com/drg01iq3f/image/upload/v1658816464/carousel/footer-bg_yzzb4s.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 16px;
}

.footer-title--main {
  font-size: 25px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.footer-main--icon__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  opacity: 0.8;
  margin: 5px;
}

.footer-main--icon__bank {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.footer-main--list {
  list-style: none;
  padding: 0;
}

.footer-main--list li {
  cursor: pointer;
  padding: 3px 10px;
  font-weight: 600;
}

.footer-main--list > li > a {
  color: #0d6799 !important;
}

.footer-main--list li:hover {
  color: #0a6ebd;
  transform: translateX(5px);
  transition: 0.5s ease-in-out;
}

.footer-info__img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

/* MOBILE */

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 20px 10px;
  }

  .header-menu-ul {
    display: none;
  }

  .box-text {
    width: 250px;
  }

  .header-menu--sub {
    position: relative;
    top: 5px;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .header-menu {
    background-color: #fff;
  }

  .header-menu-item:hover {
    border-radius: 25px;
    background-image: none;
  }

  .header-menu--sub > li:focus,
  .header-menu--sub > li:hover {
    background-image: none;
  }

  .header-menu-ul--mobile {
    background-color: #fff;
    width: 100%;
    opacity: 0.95;
    padding: 0;
  }

  .header-menu-item {
    padding: 10px 15px;
    margin: 0;
    position: relative;
  }

  .info {
    display: none;
  }

  .header-logo--sv {
    width: 150px;
    height: 60px;
  }

  .header-menu-icon {
    display: inline-block;
    font-size: 40px;
  }

  .carousel-item--image {
    height: 300px;
  }

  .footer-main {
    display: flex;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-hotline {
    width: 100%;
    flex-direction: column;
  }

  .footer-hotline--item {
    margin-bottom: 10px;
  }

  .active-header {
    display: block !important;
    position: absolute !important;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .form {
    padding: 10px 30px;
  }

  .card {
    min-height: 450px;
    width: 30%;
  }

  .card-img-top {
    width: 100%;
    height: 200px;
  }

  .service-main {
    flex-direction: column;
  }

  .service-des {
    width: 100%;
  }

  .category {
    display: none;
  }

  .service-list {
    flex-direction: column;
  }

  .service-list-item {
    margin: 5px;
  }

  .service-item--title {
    margin: 5px;
  }

  .service-item--image {
    width: 200px;
    height: 200px;
  }

  .intro-content {
    margin: 0;
  }

  .intro {
    flex-direction: column;
    text-align: center;
  }

  .title-tag-header {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 720px) {
  .card-post_relevant {
    width: 90% !important;
  }

  .box-text {
    width: 250px;
  }
  

  .card {
    min-height: 400px;
    width: 30%;
    padding: none !important;
  }

  .contact {
    flex-direction: column;
  }

  .contact-address {
    width: 100%;
  }

  .features-list {
    flex-direction: column;
    justify-content: center;
  }

  .features-item__img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 540px) {
  .card {
    height: 450px;
    width: 100%;
  }

  .card-body {
    height: fit-content;
  }

  .card-review-img--top {
    height: 90%;
  }

  .list-post-main {
    flex-direction: column;
  }

  .list-post--image {
    width: 100%;
  }

  .list-post-detail {
    width: 100%;
    margin: 0;
    text-align: justify;
  }

  .list-post--content {
    width: 100%;
  }

  .footer-main--info{
    text-align: left;
  }
}
