{% extends "base_generic.html" %} {% load static %} 


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 

{% block title %}
<title>{{ post.title }}</title>
{% endblock %} 

{% block content %}

<nav aria-label="breadcrumb ">
  <ol class="breadcrumb wrapper text-primary p-3">
    <li class="breadcrumb-item">
      <a href="/">TRANG CHỦ</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/kien-thuc-nha-khoa/{{post.category}}">KIẾN THỨC NHA KHOA</a>
    </li>
    <li class="breadcrumb-item active">
      <a>{{ post.title }}</a>
    </li>
  </ol>
</nav>
<!-- content -->
<div class="content-main wrapper pt-0">
  <!-- content of post -->
  <div class="content-post">
    <!-- tilte of page -->
    <div class="title-tag-main">
      <div class="title-tag-content">
        <h1 class="title-tag-header title-border-bottom">{{ post.title }}</h1>
        <div class="title-tag-item">
          <p class="title-tag__item">
            <i class="bi bi-calendar-check m-2 text-dark"></i>
            {{ post.created_on | date:"d/m/Y" }}
          </p>
        </div>
      </div>
    </div>
    <!-- end -->
    <div
      class="description"
      style="text-align: justify; font-size: 20px; line-height: 1.5"
    >
      {{ post.description }}
    </div>
    <div class="content border-bottom">{{ post.content | safe }}</div>
  </div>

  <!-- block filter -->
  <div class="filter-post">
    <div class="category p-3">
      <h1 class="title-tag__content">Kiến thức liên quan</h1>
      <ul class="category-item border p-4 m-0">
        {% for post_re in post_relevant %}
        <li class="pt-0">
          <a class="text-decoration-none" href="/post/{{ post_re.slug }}"
            >{{ post_re.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <div class="facebook__page">
        <div
          class="fb-page"
          data-href="https://www.facebook.com/Nha-Khoa-SV-110844020714346"
          data-tabs="timeline"
          data-width="300"
          data-height="250"
          data-small-header="false"
          data-adapt-container-width="false"
          data-hide-cover="true"
          data-show-facepile="false"
        >
          <blockquote
            cite="https://www.facebook.com/Nha-Khoa-SV-110844020714346"
            class="fb-xfbml-parse-ignore"
          >
            <a href="https://www.facebook.com/Nha-Khoa-SV-110844020714346"
              >Nha Khoa SV</a
            >
          </blockquote>
        </div>
      </div>
      <div class="filter-img border">
        <img
          class="filter-img__item"
          src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658993650/carousel/poster_ncdmdg.png"
          alt="Nha khoa SV"
        />
      </div>
    </div>
  </div>
</div>
<!-- end -->
<!-- more post -->
<div class="wrapper pt-0">
  <div class="d-flex flex-wrap">
    <div class="blog-post-related">
      <h2 class="related-title">BÀI VIẾT LIÊN QUAN</h2>
      <div class="post-list__item">
        {% for post in post_relevant %}
        <div class="post-item m-2">
          <div class="col-inner">
            <a href="/post/{{ post.slug }}">
              <div class="box">
                <div class="box-image">
                  <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                </div>
                <div class="box-text ms-4 text-justify">
                  <h5 class="box-title">{{ post.title }}</h5>
                  <p class="box-description">
                    {{ post.description | truncatechars:70 }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end -->

<script type="text/javascript">
  // check category
  var category = "{{post.category}}";
  if (category == "Home") $(".category").css("display", "none");
</script>

{% endblock %}
