{% extends "base_generic.html" %}

{% load static %}
{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}


{% block content %}
    <div class="title-tag-main">
        <div class="title-tag-content">
            <h1 class="title-tag-header">{{ post.title }}</h1>
            <div class="title-tag-item d-flex justify-content-center">
                <p class="title-tag-item">Danh mục: {{ post.category }}</p>
                <p class="title-tag-item">Ngày tạo: {{ post.created_on | date:"d/m/Y" }}</p>
            </div>

        </div>

    </div>
    <div class="wrapper">
        <div class="content">
            {{ post.content | safe }}
        </div>
    </div>
{% endblock %}