{% extends "base_generic.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- carousel component -->
{% block sildeBar %}
{% include "base/slide.html" %}
{% endblock %}

{% block content %}
<!-- Intro SV DENTAL -->
<div class="intro wrapper pb-0">
    <div class="intro-content">
        <h1 class="title-tag">NHA KHOA SV - SV Dental</h1>
        <p class="text-uppercase intro-content__tilte">"Nha khoa SV nơi khởi đầu cho những nụ cười đẹp"
        </p>
        <p class="text-justify intro-content__text">&emsp;Với nguyên tắc “Mang đến những giá trị bền vững cho
            khách hàng những vẫn đảm bảo về mặt thẩm mỹ cũng như những yếu tố liên quan”. Tiếp bước trên mỗi con đường
            thành công của nhiều khách hàng, nha khoa SV vinh dự đã có một phần nhỏ giúp họ thay đổi vận mệnh từ chính
            nụ cười quý giá của khách hàng.</p>
        <p class="text-justify intro-content__text">&emsp;Hy vọng rằng trong thời gian sắp tới, chúng tôi sẽ có
            cơ hội được đồng hành cùng bạn để đi tìm được nụ cười hoàn hảo nhất và tuyệt vời nhất, thuộc về bản sắc cá
            nhân của riêng bạn.</p>
    </div>
    <div class="intro-clip">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/9uqHDhHx56Y"
            title="BLOGER LÝ THÀNH CƠ CHIA SẺ NHỔ RĂNG KHÔN TẠI NHA KHOA SV" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>
<!-- end -->


<!-- features -->
<div class="features mt-3">
    <div class="wrapper">
        <h1 class="title-tag">CÁC ĐẶC ĐIỂM NỔI BẬT TẠI NHA KHOA SV</h1>
        <div class="features-list">
            <div class="features-item">
                <img src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658934756/icon/doctor_fmrhcw.png" alt=""
                    class="features-item__img center">
                <p class="features-item__desc">Bác sĩ nha khoa giỏi, nhiều năm kinh nghiệm</p>
            </div>
            <div class="features-item">
                <img src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658934756/icon/insurance_hsbrkf.png"
                    alt="" class="features-item__img center">
                <p class="features-item__desc">Hệ thống vô trùng theo tiêu chuẩn Châu Âu</p>
            </div>
            <div class="features-item">
                <img src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658934755/icon/tooth_df5uow.png" alt=""
                    class="features-item__img center">
                <p class="features-item__desc">Hệ thống labo làm răng sứ, răng giả tháo lắp riêng</p>
            </div>
            <div class="features-item">
                <img src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658934756/icon/dentist-chair_m4ka9i.png"
                    alt="" class="features-item__img center">
                <p class="features-item__desc">Trang thiết bị hiện đại, nhập khẩu châu Âu - Mỹ</p>
            </div>
            <div class="features-item">
                <img src="https://res.cloudinary.com/drg01iq3f/image/upload/v1658934757/icon/tooth-whitening_lfxrvr.png"
                    alt="" class="features-item__img center">
                <p class="features-item__desc ">Cung cấp mọi dịch vụ nha khoa chất lượng cao</p>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!--  customer reviews -->
<div class="wrapper">
    {% block customer_reviews %}
    {% include "customer_reviews.html" %}
    {% endblock %}
</div>
<!-- end -->

<!-- block service -->
{% include "base/service.html" %}
<!-- end -->

<!-- block dental knowledge -->
<div class="wrapper">
    {% include "base/card.html" %}
</div>
<!-- end -->

{% endblock %}