{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="list">
        {% block title-tag %}
            {% include "base/title_tag.html" %}
        {% endblock %}
        <div class="container-lg list-post">
            {% for post in posts %}
                <a href="/post/{{ post.slug }}" class="list-post--item">
                    <div class="list-post-main">
                        <div class="list-post-img">
                            <img class="list-post--image"
                                 src="{{ post.image.url }}"/>
                        </div>
                        <div class="list-post-detail">
                            <div class="list-post-title">
                                <h3>{{ post.title }}</h3>
                            </div>
                            <div class="list-post--content">
                                {{ post.content| safe | truncatechars:250 }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}